<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.status.label %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>